<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "drivers/css/css.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "drivers/css/test.css" %}">
    <title>Conducteur</title>
  </head>
  <body>
    <header>
      <div class="header">
        <a href="https://ent.univ-poitiers.fr/uPortal/render.userLayoutRootNode.uP" class="logo"><img src="{% static "drivers/img/logo1.png"  %}" alt="logo de l'université"></a>  
        <div class="header-right">
          <a class="active" href="{% url "home" %}">Accueil</a>
          <a href="{% url "deconnexion" %}">Déconnexion</a>
        </div>
      </div>
    </header>

	<div class="topnav">
    <a  href="{% url "home" %}">Accueil</a>
    <a class="active" href="{% url "conducteur" %}">Conducteur</a>
    <a href="{% url "passager" %}">Passager</a>
  </div>

  <fieldset class="fieldset">
    <legend class="legend"> <Strong>Résumé des trajets</Strong> </legend>

    {% for proposal in propositions %}
    <blockquote>
      <pre>
        <strong> Date : </strong> {{ proposal.path.datedeparture }}
        <strong> Départ : </strong> {{ proposal.path.departure }}
        <strong >Arrivé: </strong> {{ proposal.path.arrive }}
      </pre>
    </blockquote>
    {% endfor %}

    <div id="center">
      <button class="button"><a href="{% url "submit" %}" id ="btn2">Ajouter un trajet</button>
      <button class="button"><a href="#" id ="btn2">Modifier mon profil</button>
    </div>
 </fieldset>

 <footer class="footer">
  <div class="t3"><a href="https://ent.univ-poitiers.fr/uPortal/render.userLayoutRootNode.uP">Université de Poitiers</a> <br>
  Tél : (33) (0)5 49 45 30 00 - Fax : (33) (0)5 49 45 30 50 - assistance@support.univ-poitiers.fr</pre></div>
</footer>
</body>
</html>